.file-upload {
	margin: 50px auto;
	border: 3px solid green;
	padding: 20px;
	width: 80%; /* Adjust the width of the file upload component */
	max-width: 600px; /* Set a maximum width if needed */
	height: 50vh; /* Set the height to 50% of the viewport height */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.drop-area {
	border: 2px dashed #ccc;
	padding: 100px;
	text-align: center;
	cursor: pointer;
}
.file-upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.dropzone {
	border: 2px dashed #ccc;
	padding: 200px;
	text-align: center;
	cursor: pointer;
}
