@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #f6f4eb;
  --secondary-color: #2d8bba;
  --accent-color: #a4b3ea;
  --text-color: #131e26;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1 {
  color: var(--secondary-color);
}

p {
  color: var(--text-color);
}

button,
.button {
  background-color: var(--accent-color);
  color: var(--text-color);
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
