@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #F6F4EB;
  --secondary-color: #91C8E4;
  --accent-color: #749BC2;
  --text-color: #4682A9;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1 {
  color: var(--secondary-color);
}

p {
  color: var(--text-color);
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
}
